<div class="card h-100 shadow-sm border-0 hover-scale bg-white product-card">
    <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-dark">
        
    <div class="ratio ratio-1x1 p-2 position-relative bg-white">
        <img src="{{ product.image.url }}" 
            class="w-100 h-100 object-fit-contain border border-1 border-light-subtle rounded 
                    {% if not product.in_stock %}opacity-50{% endif %}" 
            alt="{{ product.name }}"
            style="background-color: white;">
    </div>
        {% if not product.in_stock %}
        <span class="position-absolute top-0 end-0 bg-danger text-white px-2 py-1 small rounded-bl" 
            style="z-index: 2; font-size: 12px; line-height: 1.2;">
            Нет в наличии
        </span>
        {% endif %}    


        <div class="card-body d-flex flex-column bg-white">
            <h5 class="card-title mb-2 text-primary-dark">{{ product.name }}</h5>
            <p class="card-text text-muted small mb-3">{{ product.description|truncatechars:100 }}</p>
        </div>
    </a>
    
    <div class="card-footer bg-white border-top border-1 border-light-subtle">
        <div class="d-flex justify-content-end align-items-center mb-3">
            <div class="text-end">
                <div class="h4 mb-0 fw-bold" style="color: #C1221C;">{{ product.price|floatformat:2 }} ₽/{{ product.unit }}</div>
            </div>
        </div>
        
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary minus-btn" type="button">-</button>
            <input type="number" 
                class="form-control text-center quantity-input" 
                value="{% if product.bulk_only %}1000{% else %}1{% endif %}" 
                min="{% if product.bulk_only %}1000{% else %}1{% endif %}" 
                step="{% if product.bulk_only %}1000{% else %}1{% endif %}"
                data-price="{{ product.price|stringformat:'f' }}"
                data-product-id="{{ product.id }}">
            <button class="btn btn-outline-secondary plus-btn" type="button">+</button>
        </div>
        
        <button type="button" 
            class="btn w-100 order-btn {% if not product.in_stock %}disabled{% endif %}"
            data-bs-toggle="modal" 
            data-bs-target="#orderCreateModal"
            data-product-id="{{ product.id }}">
            <i class="bi bi-cart3 me-2"></i>Оформить заказ
        </button>
    </div>
</div>