{% extends "base.html" %}
{% block title %}БрючникоФФ - Главная{% endblock %}
{% block content %}

{% include 'catalog/includes/order_call.html' %}
<div class="container">
    <!-- Приветственный блок --> 
    <div class="row mb-5 py-5 card">
        <div class="col-lg-12 text-left">
            <h1 class="display-4 mb-4 text-primary-dark">Приглашаем к сотрудничеству</h1>
            <p class="lead mb-4 text-primary-dark">
                Мы предлагаем широкий ассортимент качественной фурнитуры для одежды. 
                Станьте нашим партнером и получите выгодные условия сотрудничества, 
                индивидуальный подход и профессиональную поддержку.
            </p>
            <!-- Кнопка для открытия модального окна -->
            <button type="button" class="btn btn-primary btn-lg px-4" style="background-color: #C1221C; border-color: #C1221C;" 
                    data-bs-toggle="modal" data-bs-target="#orderCallModal">
                Заказать звонок
            </button>
        </div>
    </div>
    
    <!-- Основной контент -->
    <div class="row mb-5">
        {% include 'catalog/includes/catalog.html' %}
        <!-- Информация о компании (правая колонка) -->
        <div class="col-md-9">
            <h2 class="mb-4 text-left text-primary-dark" >О компании</h2>
            <div class="company-info text-primary-dark">
                <p class="lead"><strong>Швейная фурнитура и прикладные материалы для одежды в интернет-магазине «БрючникоФФ»</strong></p>
                
                <p>Более 20 лет интернет-магазин швейной фурнитуры «БрючникоФФ» помогает швейным предприятиям создавать удобную, модную, привлекательную одежду, благодаря высококачественным прикладным материалам.</p>
                
                <p>Мы специализируемся на прямых поставках комплектующих для производства мужской, женской, детской одежды – пальто, мужских и женских костюмов и брюк, юбок, платьев, школьной формы, специализированной одежды.</p>
                
                <p>Мы относимся к прикладным материалам и швейной фурнитуре, как одним из самых важных составляющих, при изготовлении качественного изделия.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}